.usuario-container {
  max-width: 900px;     /* ancho del contenido */
  margin: 0 auto;       /* centrar horizontal */
  padding: 24px;        /* espacio interno */
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.header {
  display: flex;
  justify-content: space-between; /* título izquierda, botón derecha */
  align-items: center;
  margin-bottom: 16px;
}

.full-table {
  width: 100%;
  background: white;
  border-radius: 8px;
}

mat-header-cell {
  font-weight: bold;
}

.contenedor {
  max-height: calc(100vh - 190px); /* dinámico según pantalla */
  overflow-y: auto;
  padding-right: 4px;

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #a7a7a7 transparent;
}

/* Chrome, Edge, Safari */
.contenedor::-webkit-scrollbar {
  width: 8px;
}

.contenedor::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

.contenedor::-webkit-scrollbar-thumb {
  background: rgba(150, 150, 150, 0.5);
  border-radius: 10px;
  border: 2px solid transparent; /* efecto de separación */
  background-clip: padding-box;
}

.contenedor::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.7);
}

.contenedor::-webkit-scrollbar-button {
  display: none; /* quita flechas arriba/abajo */
}


.center-title {
  position: relative;
  display: flex;
  align-items: center;
}

.center-title mat-card-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

/* Botón alineado al extremo derecho */
.center-title button {
  margin-left: auto;
}



/* v */
.tabla {
  margin: 24px auto;
  padding: 16px;
  max-width: 1200px;
  background-color: #69bbd3 !important;
}

/* Centrado de texto general */
.center {
  text-align: center;
}

/* Estilo de la tabla principal */
.tabla-historial {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

/* Encabezado de la tabla */
th.mat-header-cell {
  background-color: #e3f2fd;
  font-weight: 500;
  text-align: center;
}

/* Celdas */
td.mat-cell {
  text-align: center;
  padding: 8px;
}

/* Título centrado del mat-card */
.center-title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Helvetica', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

/* Ajuste de ancho por columna */
.mat-column-ordenAtencion { width: 8%; }
.mat-column-nombre { width: 25%; }
.mat-column-numeroDocumento { width: 15%; }
.mat-column-horaInicio { width: 10%; }
.mat-column-horaFin { width: 10%; }
.mat-column-llamadas { width: 8%; }
.mat-column-ventanilla { width: 10%; }
.mat-column-estado { width: 14%; }

/* Colores según estado (si los usas) */
.estado-pendiente {
  color: #f57c00;
  font-weight: 600;
}

.estado-confirmado {
  color: #388e3c;
  font-weight: 600;
}
