/* contenedor del mat-card (clase .tabla usada en tu HTML) */
.tabla {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* ❌ */
  background-color: #77d1e7;
  border-radius: 0%;
}
mat-card-header {
  flex: 0 0 auto;
}
mat-card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* ❌ */
}
.bg-pantalla,
.div {
  flex: 0 0 auto;
}
.lista {
  flex: 1 1 auto;     /* ocupa el espacio restante */
  overflow-y: auto;  /* ✅ ÚNICO SCROLL */
  border-radius: 5px;
  
}
.lista table {
  width: 100%;
  background-color: #eff1fa;
  
}



/* Centrado de texto general */
.center-title {
  text-align: center;
  margin: 20px 5px;
}

/* Celdas */
td.mat-cell {
  text-align: center;
  padding: 8px;
}


.input-row{
    
    padding: 5px 50px 20px 15px  ;
}

.input-aviso {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  resize: vertical; /* para que pueda agrandarse hacia abajo */
  white-space: pre-wrap; /* mantiene saltos de línea */
}


.tabla-avisos {
    width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.tabla-avisos thead th {
  background: #f8f9fa;
  padding: 10px;
}

.tabla-avisos tbody tr {
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.tabla-avisos tbody td {
  padding: 12px;
  vertical-align: middle;
}

/* Evita el desborde en avisos largos */
.texto-aviso {
  white-space: normal;
  word-wrap: break-word;
  max-width: 1px; /* truco para que respete el break-word */
}
