<mat-card class="tabla">
  <mat-card-title class="center-title">Avisos</mat-card-title>

  <div class="input-row" style="display:flex; gap:8px; margin:12px 0;">
    <input
      type="text"
      [(ngModel)]="nuevoAviso"
      placeholder="Escribe un aviso"
      class="input-aviso"
      style="flex:1; padding:8px;"
    />

    <button mat-raised-button color="primary" (click)="agregarAviso()">
      Agregar
    </button>
  </div>

  <table mat-table [dataSource]="avisos" class="mat-elevation-z8 tabla-aviso">

    <!-- Aviso -->
    <ng-container matColumnDef="aviso">
      <th mat-header-cell *matHeaderCellDef>Aviso</th>
      <td mat-cell *matCellDef="let a">
        <!-- muestra a.mensaje y permite salto de línea -->
        <div style="white-space:normal; word-wrap:break-word;">{{ a.mensaje }}</div>
      </td>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef class="text-end">Acciones</th>

      <td mat-cell *matCellDef="let aviso; let i = index" class="text-end">
        <button class="btn btn-primary btn-sm me-2" (click)="mostrarAviso(aviso.mensaje)">
          Mostrar
        </button>
        <button class="btn btn-danger btn-sm" (click)="eliminarAviso(i)">
          Quitar
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>
  </table>
</mat-card>
