<mat-card class="tabla">
  <mat-card-header class="center-title">
    <mat-card-title>HISTORIAL DE ATENCIONES DEL RECEPTOR</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <div class="row">
        <div class="col-3 left m-b-20">
          <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Fecha</mat-label>

          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput [matDatepicker]="picker" formControlName="fechaEng" placeholder="Seleccione"
              (dateChange)="obtenerFechaFormateada($event.value)" [max]="today" />
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-3 left m-b-20">
          <mat-label class="f-s-14 f-w-600 m-b-8 d-block">
            DNI
          </mat-label>

          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput formControlName="dni" placeholder="Ingrese DNI" maxlength="8" type="text"
              (input)="soloNumeros($event)" />

            <mat-icon matSuffix>badge</mat-icon>

            <mat-error *ngIf="form.get('dni')?.hasError('required')">
              El DNI es obligatorio
            </mat-error>

            <mat-error *ngIf="form.get('dni')?.hasError('minlength')">
              El DNI debe tener 8 dígitos
            </mat-error>
          </mat-form-field>
        </div>
      </div>


    </form>


    @if (loadList) {
    <div class="d-flex justify-content-center">
      <div class="spinner-grow m-5" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    } @else {
    <div class="lista">
      <table mat-table class="mat-elevation-z8 tabla-historial" [dataSource]="orderAtentionList">
        <!-- Índice -->
        <ng-container matColumnDef="index">
          <th mat-header-cell *matHeaderCellDef>N°</th>
          <td mat-cell *matCellDef="let row; let i = index">
            {{ i + 1 }}
          </td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="paciente">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let p">{{ p.persona.nombre + " " + p.persona.apellidoPaterno + " " +
            p.persona.apellidoMaterno }}</td>
        </ng-container>

        <!-- Documento -->
        <ng-container matColumnDef="numeroDocumento">
          <th mat-header-cell *matHeaderCellDef>N° Documento</th>
          <td mat-cell *matCellDef="let p">{{ p.persona.numeroDocumentoIdentidad }}</td>
        </ng-container>

        <!-- Turno -->
        <ng-container matColumnDef="turno">
          <th mat-header-cell *matHeaderCellDef>Turno</th>
          <td mat-cell *matCellDef="let p">{{ p.turno }}</td>
        </ng-container>

        <!-- Hora -->
        <ng-container matColumnDef="hora">
          <th mat-header-cell *matHeaderCellDef>Hora</th>
          <td mat-cell *matCellDef="let p">{{ p.hora }}</td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let p">{{ p.codEstadoAtencion | viewStatusOrderAtention }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
    </div>

    }
  </mat-card-content>
</mat-card>