/* contenedor del mat-card (clase .tabla usada en tu HTML) */
.tabla {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* ❌ */
  background-color: #77d1e7;
  border-radius: 0%;
}
mat-card-header {
  flex: 0 0 auto;
}
mat-card-content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* ❌ */
}
.bg-pantalla,
.div {
  flex: 0 0 auto;
}
.lista {
  flex: 1 1 auto;     /* ocupa el espacio restante */
  overflow-y: auto;  /* ✅ ÚNICO SCROLL */
  border-radius: 5px;
  
}
.lista table {
  width: 100%;
  background-color: #eff1fa;
  
}




/* Centrado de texto general */
.center {
  text-align: center;
}

/* Estilo de la tabla principal */
.tabla-historial {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}

/* Encabezado de la tabla */
th.mat-header-cell {
  background-color: #e3f2fd;
  font-weight: 500;
  text-align: center;
}

/* Celdas */
td.mat-cell {
  text-align: center;
  padding: 8px;
}

/* Título centrado del mat-card */
.center-title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Helvetica', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

/* Ajuste de ancho por columna */
.mat-column-ordenAtencion { width: 8%; }
.mat-column-nombre { width: 25%; }
.mat-column-numeroDocumento { width: 15%; }
.mat-column-horaInicio { width: 10%; }
.mat-column-horaFin { width: 10%; }
.mat-column-llamadas { width: 8%; }
.mat-column-ventanilla { width: 10%; }
.mat-column-estado { width: 14%; }

/* Colores según estado (si los usas) */
.estado-pendiente {
  color: #f57c00;
  font-weight: 600;
}

.estado-confirmado {
  color: #388e3c;
  font-weight: 600;
}


/* para estado */
.estado-badge {
  display: inline-block;
  padding: 4px 12px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 12px;
}

/* ATENDIDO */
.estado-atendido {
   background-color: #d5e9de;
border-color: #43A047;
color: #2E7D32;

}

/* AUSENTE */
.estado-ausente {
  background-color: #e8dadd;
  border-color: #C62828;
  color: #C62828;
}

/* ATENDIENDO */
.estado-atendiendo {
  background-color: #e0e0e0; /* gris */
  color: #9e0909;
}
/* LLAMANDO */
.estado-llamando {
  background-color: #eef6f7; /* gris */
  color: #66eaf4;
}
/* PENDIENTE*/
.estado-pendiente {
  background-color: #d7d775; /* gris */
  color: #646e0b;
}