<mat-card class="tabla">

  <mat-card-header class="center-title">
    <mat-card-title class="ventanilla-text">VENTANILLA 1</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="text-center rounded rounded-3 text-dark py-4 mb-3 bordered-card bg-pantalla">
      <div class="row">
        @if (loadScrean) {
        <div class="d-flex justify-content-center">
          <div class="spinner-grow m-5" style="width: 3rem; height: 3rem;" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        } @else {
        <div class="paciente-turno bg-primary col-3">
          @if (screenNormal) {
          <p class="paciente-turno-numero">{{screenNormal.turno}}</p>
          }
        </div>
        <div class="col-8">
          @if (screenNormal) {
          <p class="nombre fs-2">{{screenNormal.paciente.nombre + " " + screenNormal.paciente.apellidoPaterno + " " +
            screenNormal.paciente.apellidoMaterno}}</p>
          <p class="fs-5">{{screenNormal.codEstadoAtencion | viewStatusOrderAtention}}</p>
          @if (screenNormal.codEstadoAtencion === codeOrderStatusInCall) {
          <p class="fs-5">Numero de Llamadas: {{screenNormal.numLlamada}}</p>
          }
          } @else {
          <p class="fs-4">No hay paciente en atención...</p>
          }

        </div>
        }
      </div>
    </div>

    <div class="div text-end mb-3">
      <button type="button" class="btn btn-primary me-1 btn-lg" aria-label="Llamar al paciente"
        [disabled]="disabledCall || loadCall===true" (click)="call()">
        @if (loadCall) {
          <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        } @else {
          <i class="bi bi-telephone-plus-fill"></i> 
        }
        Llamar
      </button>
      <button type="button" class="btn btn-secondary me-1 btn-lg" aria-label="Iniciar atencion"
        [disabled]="disabledStart || loadStart===true" (click)="startAtention()">
        @if (loadStart) {
          <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        } @else {
          <i class="bi bi-play-circle"></i> 
        }
        Iniciar
      </button>
      <button type="button" class="btn btn-success me-3 btn-lg" aria-label="Finalizar atencion"
        [disabled]="disabledFinish || loadFinish===true" (click)="finishAtention()">
        @if (loadFinish) {
          <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        } @else {
          <i class="bi bi-stop-circle"></i>  
        }
        Finalizar
      </button>
      <button type="button" class="btn btn-danger btn-lg" aria-label="Marcar Ausente" [disabled]="disabledAbsent || loadAbsent===true"
        (click)="absent()">
        @if (loadAbsent) {
          <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>
        } @else {
          <i class="bi bi-x-circle"></i>  
        }
        Ausente
      </button>
    </div>

    @if (loadOrders) {
    <div class="d-flex justify-content-center">
      <div class="spinner-grow m-5" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    } @else {
    <div class="">
      <table mat-table [dataSource]="orderAtentionList">

      <!-- Turno -->
      <ng-container matColumnDef="turno">
        <th mat-header-cell *matHeaderCellDef class="center">Turno</th>
        <td mat-cell *matCellDef="let p" class="center" data-label="Turno">{{ p.turno }}</td>
      </ng-container>

      <!-- Nombre -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef>Nombre</th>
        <td mat-cell *matCellDef="let p" data-label="Nombre">{{ p.persona.nombre + " " + p.persona.apellidoPaterno + " "
          + p.persona.apellidoMaterno }}</td>
      </ng-container>

      <!-- Documento -->
      <ng-container matColumnDef="numeroDocumento">
        <th mat-header-cell *matHeaderCellDef class="center">N° Documento</th>
        <td mat-cell *matCellDef="let p" class="center" data-label="Documento">{{ p.persona.numeroDocumentoIdentidad }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnas"></tr>
      <tr mat-row *matRowDef="let row; columns: columnas"></tr>
    </table>
    </div>
    }
  </mat-card-content>
</mat-card>