.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.full {
  width: 100%;
}

.half {
  width: calc(50% - 8px);
}


.center-title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

