.btn-llamar {
  background-color: #ffc107;
  color: #000;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-llamar:hover {
  background-color: #e0a800;
}

.nombre {
  font-size: 1.5rem;
  font-weight: bold;
}

.turno {
  font-size: 1.2rem;
}


.tiempo {
  font-weight: bold;
  color: #ffc107;
}

.hora {
  font-weight: bold;
  font-size: 1.2rem;
}



/* alturas proporcionales */
/* Header ocupa 10% de la altura de la pantalla */
.header {
  height: 10vh;
  background-color: #0077c8;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ventanilla{
 background: linear-gradient(
  to top,        /* De abajo hacia arriba */
  #a0d8ef 50%,    /* Celeste en la base */
  #ffffff 80%   /* Blanco arriba */
);
 border: 3px solid #1c7af5;  /* Borde negro de 3 */
  border-radius: 8px;       /* Opcional: esquinas redondeadas */
  min-height: 300px;
}

.nombre {
  color: #103565;
  /* color del texto */
  font-weight: bold;
}


/* Próximos pacientes ocupan 30% de la altura */
.proximos {
  height: 50vh;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: auto;
  /* permite scroll si hay muchos pacientes */
  font-size: 2.2vh;
  margin-bottom: 10px;
  box-sizing: border-box;
  flex-direction: column;
}

.proximos h3 {
  font-size: 2.5vh;
  text-align: center;
  margin: 0 0 10px 0;
}

.tabla-pacientes {
  width: 100%;
  border-collapse: collapse;
  font-size: 2.3vh;
  background-color: white;
}

.tabla-pacientes th,
.tabla-pacientes td {
  border: 2px solid #ccc;
  text-align: left;
  padding: 10px;
}

.tabla-pacientes th {
  background-color: #0077c8;
  color: white;
  text-align: center;
}

.tabla-pacientes tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}


/* Footer ocupa 10% de la altura */
footer {
  height: 10vh;
  background-color: #0077c8;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-wrapper {
  flex-grow: 1;
  overflow-y: auto;
}


/* aviso corrediso */
.avisos-container {
  width: 100%;
  overflow: hidden;         /* Oculta el texto cuando sale por los lados */
  background: #0075c5;      /* Fondo del aviso */
  color: white;
  padding: 10px 0;
  position: relative;
}

.avisos-text {
  display: inline-block;
  white-space: nowrap;      /* No permite saltos de línea */
  font-size: 1.5rem;
  font-weight: 600;
  animation: moverAviso 12s linear infinite;
}

@keyframes moverAviso {
  0% {
    transform: translateX(100%);   /* Empieza fuera de la pantalla a la derecha */
  }
  100% {
    transform: translateX(-100%);  /* Termina fuera de la pantalla a la izquierda */
  }
}
