/* Contenedor principal */
.pantalla-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4f8;
}

/* Columnas: ventanillas y central */
.col-ventanilla, .col-central {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}


/* Ventanilla y paciente actual */
.ventanilla-nombre {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e88e5;
  color: white;
  border-radius: 12px;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

.paciente-actual {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 12px;
  font-size: clamp(1.3rem, 2vw, 1.8rem,1.9rem);
  background-color: #2c73c4;
}


/* Lista de pacientes */
.lista-pacientes {
  flex: 3;
  background-color: white;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow-y: auto;
}

.lista-pacientes h3 {
  margin-bottom: 10px;
  text-align: center;
}

mat-list-item {
  font-size: clamp(1rem, 1.8vw, 1.5rem);
}
