<div class="container-fluid p-0 m-0 main-container">

    <!-- Header -->
    <header class="bg-primary text-center text-light py-2 mb-2">
        <h1 class="fs-2">ESSALUD - RED ASISTENCIAL AYACUCHO</h1>
    </header>

    <!-- Ventanillas -->
    <div class="content-wrapper">
        <div class="row m-0">
            <div class="col-12 col-lg-6">
                <div class="ventanilla text-center rounded rounded-3 text-light py-4 ms-1 mb-3">
                    <h2 class="fs-2 nombre">Ventanilla 1</h2>
                    <hr>
                    @if (screenV1) {
                    <p class="nombre fs-1    fw-bold">{{ screenV1.paciente.nombre + " " +
                        screenV1.paciente.apellidoPaterno + " " + screenV1.paciente.apellidoMaterno }}
                    <p>
                    <div class="row">
                        <div class="col-6">
                            <p class="fs-4 text-dark fw-bold">
                                <i class=" {{ screenV1.codEstadoAtencion | viewIconStatusOrdenAtention}}"></i>
                                {{ screenV1.codEstadoAtencion | viewStatusOrderAtention }}
                            </p>
                        </div>
                        <div class="col-6">
                            @if (screenV1.codEstadoAtencion === codStatusOrderAtentionInCall) {
                            <p class="fs-4 text-dark fw-bold"># Llamadas: {{ screenV1.numLlamada }}</p>
                            }
                        </div>
                    </div>
                    } @else {
                    <p class="fs-4 fw-bold">- - - - -</p>
                    }
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <div class="ventanilla text-center rounded rounded-3 text-light py-4 ms-1 mb-3">
                    <h2 class="fs-2 nombre">Ventanilla 2</h2>
                    <hr>
                    @if (screenV2) {
                    <p class="nombre fs-1    fw-bold">{{ screenV2.paciente.nombre + " " +
                        screenV2.paciente.apellidoPaterno + " " + screenV2.paciente.apellidoMaterno }}</p>
                    <div class="row">
                        <div class="col-6">
                            <p class="fs-4 text-dark fw-bold">
                                <i class=" {{ screenV2.codEstadoAtencion | viewIconStatusOrdenAtention}}"></i>
                                {{ screenV2.codEstadoAtencion | viewStatusOrderAtention }}
                            </p>
                        </div>
                        <div class="col-6">
                            @if (screenV2.codEstadoAtencion === codStatusOrderAtentionInCall) {
                            <p class="fs-4 text-dark fw-bold"># Llamadas: {{ screenV2.numLlamada }}</p>
                            }
                        </div>
                    </div>
                    } @else {
                    <p class="fs-4 fw-bold">- - - - -</p>
                    }
                </div>
            </div>

            <div class="col-12">
                <div class="row p-2">
                    @for (item of orderAtentionListTruncate; track item.ordenAtencionId) {
                    @if (item.turno % 2 == 0) {
                    <div class="col-2 p-1 mb-2">
                        <app-user-card [patient]="item" [color]="'bg-info'"></app-user-card>
                    </div>
                    } @else {
                    <div class="col-2 p-1 mb-2">
                        <app-user-card [patient]="item" [color]="'bg-light'"></app-user-card>
                    </div>
                    }
                    }
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="fixed-footer">
        <div class="avisos-container">
            <div class="avisos-text">
                @for (item of noticesList; track item.noticiasId; let last = $last) {
                {{ item.contenido }}
                @if (!last) {
                •
                }
                }
            </div>
        </div>
        <span class="hora">{{ horaFormateada() }}</span>
    </footer>

</div>