<div class="login-container" #loginContainer>
  <div class="wave" #wave1>🩹</div>
  <div class="wave" #wave2>💊</div>
    <mat-card class=" login-card">
        <div class="login-logo-container">
            <img src="https://www.gob.pe/rails/active_storage/representations/redirect/eyJfcmFpbHMiOnsiZGF0YSI6MjI4OSwicHVyIjoiYmxvYl9pZCJ9fQ==--870ca7e046354e769c8b91e9c70061374fd26123/eyJfcmFpbHMiOnsiZGF0YSI6eyJmb3JtYXQiOiJwbmciLCJyZXNpemVfdG9fbGltaXQiOltudWxsLDQ4XX0sInB1ciI6InZhcmlhdGlvbiJ9fQ==--830247c4bafe7cadca50817d8559bf1a09e3aa28/essalud%20341x86%202019.png"
                alt="Logo" class="login-logo">
        </div>
        <mat-card-header>
            <mat-card-title class="center-title">BIENVENIDO</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Correo Electrónico</mat-label>
                    <input matInput formControlName="email" placeholder="ejemplo@correo.com">
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                        <span *ngIf="loginForm.get('email')?.errors?.['required']">El correo es obligatorio.</span>
                        <span *ngIf="loginForm.get('email')?.errors?.['email']">Ingrese un correo válido.</span>
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline" class="full-width-input">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password"
                        placeholder="Contraseña">
                    <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
                        <span *ngIf="loginForm.get('password')?.errors?.['required']">La contraseña es
                            obligatoria.</span>
                        <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Debe tener al menos 6
                            caracteres.</span>
                    </mat-error>
                </mat-form-field>
                <div class="button-container ">
                    <button mat-raised-button color="accent" type="submit">
                        INICIAR SESIÓN
                    </button>

                </div>
                <a routerLink="/forgot-password" mat-button color="accent">¿Olvidaste tu Contraseña?</a>
            </form>
        </mat-card-content>
    </mat-card>
</div>