/* ====== CONTENEDORES PRINCIPALES ====== */
html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; /* evita scroll global */
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 20vw;        /* 20% del ancho de la pantalla */
  min-width: 240px;   /* seguridad */
  max-width: 300px;
  height: 100%;
  overflow: hidden;
}

.main-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* ❌ no scroll aquí */
}
.toolbar {
  flex: 0 0 auto;
}
.content-scroll {
  flex: 1 1 auto;
  overflow: hidden; /* ❌ */
}





/* ====== LOGO EN EL MENÚ LATERAL ====== */
.login-logo-container {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  border: none;
  margin-bottom: 8px;
}

.login-logo {
  max-width: 300px;
  height: auto;
}

/* ====== ITEMS DEL MENÚ ====== */
a.mat-list-item {
  display: flex !important;
  align-items: center !important;
  gap: 12px !important;
}

.icon-menu {
  margin-right: 20px !important;
  color: #1976d2;
  font-size: 22px;
  vertical-align: middle;
  position: relative;
  top: 2px;
}

a.mat-list-item span {
  position: relative;
  top: -1px;
  font-size: 15px;
}

/* ====== TOOLBAR SUPERIOR ====== */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: #0096C7;
}

.menu-btn {
  margin-right: 16px;
}

.titulo-toolbar {
  font-weight: 400;
  font-size: 18px;
  color: #130101;


}

.spacer {
  flex: 1 1 auto;
}

/* ====== USUARIO (foto y datos) ====== */
.usuario-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.foto-perfil {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #fff;
}

.datos-usuario {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
  text-align: right;
}

.nombre-usuario {
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.rol-usuario {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
}

/* ====== BOTÓN DESPLEGABLE ====== */
.btn-flecha mat-icon {
  color: #fff;
  font-size: 24px;
  transition: transform 0.2s ease;
}

.btn-flecha:hover mat-icon {
  transform: rotate(180deg);
}
