<mat-card class="tabla">
  <mat-card-header class="center-title">
    <mat-card-title>HISTORIAL DE ATENCIONES DEL ASESOR</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form">
      <div class="row">
         <div class="col-3 left m-b-20">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Fecha</mat-label>

        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput [matDatepicker]="picker" formControlName="fechaEng" placeholder="Seleccione"
            (dateChange)="obtenerFechaFormateada($event.value)" [max]="today" />
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-3 left m-b-20">
        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">
          DNI
        </mat-label>

        <mat-form-field appearance="outline" class="w-100" color="primary">
          <input matInput formControlName="dni" placeholder="Ingrese DNI" maxlength="8" type="text"
            (input)="soloNumeros($event)" />

          <mat-error *ngIf="form.get('dni')?.hasError('required')">
            El DNI es obligatorio
          </mat-error>

          <mat-error *ngIf="form.get('dni')?.hasError('minlength')">
            El DNI debe tener 8 dígitos
          </mat-error>
        </mat-form-field>
      </div>
      </div>
     
    </form>

    <!-- Tabla ejemplo -->
    @if (loading) {
    <div class="d-flex justify-content-center">
      <div class="spinner-grow m-5" style="width: 3rem; height: 3rem;" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>

    } @else {
    <div class="lista">
      <table mat-table [dataSource]="orderAtentionList" class="mat-elevation-z8 tabla-historial">

        <!-- Turno -->
        <ng-container matColumnDef="ordenAtencion">
          <th mat-header-cell *matHeaderCellDef>Turno</th>
          <td mat-cell *matCellDef="let p">{{ p.turno }}</td>
        </ng-container>

        <!-- Nombre -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>Nombre</th>
          <td mat-cell *matCellDef="let p">{{ p.nombres + " " + p.apellidopaterno + " " + p.apellidomaterno }}</td>
        </ng-container>

        <!-- Documento -->
        <ng-container matColumnDef="numeroDocumento">
          <th mat-header-cell *matHeaderCellDef>N° Documento</th>
          <td mat-cell *matCellDef="let p">{{ p.numerodocumentoidentidad }}</td>
        </ng-container>

        <!-- hora llamadas -->
        <ng-container matColumnDef="horaLlamada">
          <th mat-header-cell *matHeaderCellDef>Hora de Llamada</th>
          <td mat-cell *matCellDef="let p">
            @if (p.horallamada) {
            {{ p.horallamada }}
            } @else {---}
          </td>
        </ng-container>

        <!-- llamadas -->
        <ng-container matColumnDef="llamadas">
          <th mat-header-cell *matHeaderCellDef>Llamadas</th>
          <td mat-cell *matCellDef="let p" class="text-center">
            @if (p.numllamada) {
            {{ p.numllamada }}
            } @else {---}
          </td>
        </ng-container>

        <!-- Hora Inicio -->
        <ng-container matColumnDef="horaInicio">
          <th mat-header-cell *matHeaderCellDef>Hora Inicio</th>
          <td mat-cell *matCellDef="let p">
            @if (p.horainicio) {
            {{ p.horainicio }}
            } @else {---}
          </td>
        </ng-container>

        <!-- Hora Fin -->
        <ng-container matColumnDef="horaFin">
          <th mat-header-cell *matHeaderCellDef>Hora Fin</th>
          <td mat-cell *matCellDef="let p">
            @if (p.horafin) {
            {{ p.horafin }}
            } @else {---}
          </td>
        </ng-container>

        <!-- Ventanilla -->
        <ng-container matColumnDef="ventanilla">
          <th mat-header-cell *matHeaderCellDef>Ventanilla</th>
          <td mat-cell *matCellDef="let p">
            @if (p.codventanillaLl) {
              <span class="ventanilla-badge"
          [class.ventanilla-01]="p.codventanillaLl.includes('01')"
          [class.ventanilla-02]="p.codventanillaLl.includes('02')">
            {{ p.codventanillaLl | viewVentanilla }}  </span>
            } @else {---}
          </td>
        </ng-container>

        <!-- Estado -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let p">
            <span class="estado-badge"
          [class.estado-atendido]="(p.codestadoatencion | viewStatusOrderAtention) === 'Atendido'"
          [class.estado-ausente]="(p.codestadoatencion | viewStatusOrderAtention) === 'Ausente'"
          [class.estado-atendiendo]="(p.codestadoatencion | viewStatusOrderAtention) === 'Atendiendo'">
      {{ p.codestadoatencion | viewStatusOrderAtention }}
    </span>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas"></tr>
      </table>
    </div>

    }
  </mat-card-content>
</mat-card>